.cover {
    max-height: 200px;
    margin: 0 auto;
    display: block;
}

ion-content{
    --color: var(--mc-n-1);
}

.img>img{
    height: 200px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.gen{
    background-color: var(--mc-s-2);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}