<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      Detalles
    </ion-title>

    <ion-buttons slot="end">
      <ion-button *ngIf="!like_button" (click)="like()">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="like_button" (click)="disLike()">
        <ion-icon name="heart-dislike-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="ion-text-center ion-text-uppercase">{{book.name}}</h1>
  <div class="img">
    <img src="{{book.cover}}" class="cover" />
  </div>
  <p class="ion-margin ion-text-justify">{{book.resumen}}</p>
  <ion-grid>
    <ion-row class="ion-margin">
      <ion-col size="6" class="ion-text-start ion-text-uppercase">
        Páginas:
      </ion-col>
      <ion-col class="ion-text-start">
        {{book.pages}}
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin">
      <ion-col size="6" class="ion-text-start ion-text-uppercase">
        Editorial:
      </ion-col>
      <ion-col class="ion-text-start ion-text-uppercase">
        {{book.editorial}}
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin">      
      <ion-col class="ion-text-start ion-text-uppercase">
        <ion-icon name="calendar-outline"></ion-icon> {{book.published_date}}
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin">
      <ion-col size="12" class="ion-text-start ion-text-uppercase">
        Generos:
      </ion-col>
  
      <ion-col size="12">
        <ion-row>
          <ion-col *ngFor="let gender of book.genres" class="ion-text-center ion-text-capitalize">
            <div class="gen">
              {{gender}}
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  
</ion-content>