
ion-content{
    --padding-top: 1rem;    
}

.home {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px;
}


ion-avatar {
    height: 100%;
    width: 100%;
}

ion-avatar>img {
    width: 90px;
    height: 90px;
}
ion-avatar>span{
    color: var(--mc-n-1);
}


ion-card {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100px;
    --background: var(--mc-b-1);
    --color: var(--mc-p-5);
}

ion-card ion-card-header {
    padding: 10px 10px;
}

ion-card ion-card-content {
    padding: 10px 10px;
}

ion-card-content ion-icon {
    font-size: 30px;
}

ion-card ion-card-title {
    font-size: 20px;
    text-transform: uppercase;
    --color: var(--mc-n-1);
}

ion-card ion-card-content {
    font-size: .8em;
    text-transform: lowercase;
}