<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="home ion-text-center">
        <h1 class="ion-text-uppercase">Librería San Francisco</h1>
        <img src="./assets/img/home.png" alt="">
        <div>
            <h2>Bienvenido a la librería San Francisco</h2>
            <p>Descubre más de un millón de títulos en español en todos los formatos</p>
        </div>
        <ion-button (click)="finish()">Continuar</ion-button>
    </div>
</ion-content>